body{overflow: hidden;
    padding:0;
    margin:0;}

form{color: #33B5E5;font-size:100%;font-family: Florence, cursive;}

h1{margin-top: 2% ;color: #33B5E5;font-family: Florence, cursive;font-weight: bold; text-align: center;}


div.left{float: left;
		width: 45%;}
div.right{float: right	;
		width: 55%;}

div.Cordes{float:left;
		border: 10px solid #CCC;
        background: #CCC;
        margin-left: 20%;
        border-radius:5%;
    	margin-bottom: 5%;}

div.Cuivres{
		float:right;
		margin-right:10%;
		border: 10px solid #CCC;
		border-radius:5%;
        background: #CCC;
    	margin-bottom: 5%;}

div.Bois{float:left;
		margin-left:10%;
		border: 10px solid #CCC;
		border-radius:5%;
        background: #CCC;
    	margin-bottom: 5%;}

div.Percussions{float:right;
		margin-right: 20%;
		border: 10px solid #CCC;
		border-radius:5%;
        background: #CCC;}



button{
		cursor:pointer;
		text-transform:capitalize;
		width:120px;
		height:90px;
		background:#fafafa;
		box-shadow:2px 2px 8px #33B5E5;
		font:bold 17px Arial;
		border-radius:50%;
		color:#33B5E5;
		margin-bottom: 5%;
	}

button#b1{margin-left: 46%;}

.home_button{
	width:10%;
	height:auto;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  background-color: #C0E0FF;
	cursor:pointer;
	float:right;
	margin-bottom: 5%
}


canvas {
    padding:0;
    margin:0;
		border: 0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

.center {
  /*text-align: center;*/
  margin: 0;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%
  /*-ms-transform: translate(-50%, -50%);*/
  transform: translate(-25%, -25%);
}


.blurshadow{
  box-sizing: border-box;
  border-radius: 0.3em;
  box-shadow: 0 0 10px 0 rgba(150, 150, 180, 1) inset, 0 0 10px 10px rgba(150, 150, 180, 1);
  /*margin:10px;*/
}
.blurbg{
  background-color:rgba(150, 150, 180, 0.8);
}
.colorfill{
  background-color:rgba(150, 150, 180, 1);
}
